{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Welcome to Heritage</h1>
    <p>This application lets users maintain and visualize their family tree in a graph representation.</p>
    <p>To view and edit your tree, navigate to the <b>Family Tree</b> tab.</p>
    <p>To view logs of your usage, navigate to the <b>Logs</b> page.</p>
    <p>To share your tree with others, navigate to the <b>Share</b> page.</p>
    <p>To download your tree as a JSON, navigate to the <b>Download Tree</b> page.</p>
{% endblock %}