{% extends "base.html" %}

{% block content %}
    <header>
        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="font-size: 32px;">
                <!-- <img src="tree_logo.jpg" alt="Heritage Logo" width="90" height="72" class="d-inline-block align-text-center"> -->
              </a>
            </div>
          </nav>
    </header>
    <main class="container" style="width: 60%; padding-left: 10%; padding-right: 10%; margin-top: 5%;">
        <h1>Create a New Account</h1>

        <form id="signupform">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number (#+###-###-####) </label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 150px; height: 50px;">Submit</button>
            <label id="password error" style="color: red; display: none;"></label>
        </form>
        <script>
            var username = document.getElementById("username").value;
            var password = document.getElementById("password1").value;
            var conf_password = document.getElementById("password2").value;
            var phone = document.getElementById("phone").value;
            var email = document.getElementById("email").value;

            function validateForm(){
                var errorMessage = document.getElementById("password error");

                username = document.getElementById("username").value;
                password = document.getElementById("password1").value;
                conf_password = document.getElementById("password2").value;
                phone = document.getElementById("phone").value;
                email = document.getElementById("email").value;

                //var password = document.getElementById("password1").value;
                //var conf_password = document.getElementById("password2").value;

                //var phone = document.getElementById("phone").value;
                var phone_pattern = "^[0-9]{1}\\+[0-9]{3}-[0-9]{3}-[0-9]{4}$";
                //var email = document.getElementById("email").value;
                var email_pattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";

                if(email.match(email_pattern) == null){
                    errorMessage.textContent = "Please enter a valid email.";
                }
                else if(password !== conf_password){
                    errorMessage.textContent = "Passwords do not match.";
                }
                else if(phone.match(phone_pattern) == null){
                    errorMessage.textContent = "Please enter a valid phone number.";
                }
                else{
                    return true;
                }
                errorMessage.style.display = "block";
                return false;
            }

            document.getElementById('signupform').addEventListener('submit', function(event) {
              event.preventDefault(); // Prevent the default form submission

              if(validateForm()){
                //const formData = new FormData(this);
                //const data = Object.fromEntries(formData.entries());

                const jsonObject = {
                    username: username,
                    email: email,
                    phone: phone,
                    password: password
                };
        
                fetch('/signup', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: jsonObject,
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
              }
            });
          </script>
    </main>
{% endblock %}