{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Graph</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>


        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: black; /* Make the lines black */
            stroke-width: 2px;
        }


        #container {
            display: flex;
            height: 80vh;
            border-bottom: 1px solid lightgray;
        }
        #network {
            flex-grow: 1;
            border-right: 1px solid lightgray;
        }
        #details {
            width: 20%;
            padding: 3px;
            overflow-y: auto;
        }
        #functions {
            display: flex;
            justify-content: space-evenly;
            background-color: #f7f7f7;
            border-top: 1px solid lightgray;
        }
        .tab {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid lightgray;
            flex-grow: 1;
        }
        .tab:last-child {
            border-right: none;
        }
        .active-tab {
            background-color: #e0e0e0;
        }
        #function-content {
            padding: 10px;
            height: 30vh; /* Increased height */
        }

        .node-label {
            pointer-events: none;
            text-anchor: middle;
            font-size: 12px;
        }

        .link-label {
            pointer-events: none;
            text-anchor: middle;
            font-size: 10px;
        }

    </style>
</head>
<body>
    <div id="container">
        <div id="network"></div>
        <div id="details">Hover over a node or relationship to see details here.</div>
    </div>
    <div id="functions">
        <div class="tab" onclick="changeTabContent('Delete Family Member')">Delete Family Member</div>
        <div class="tab active-tab" onclick="changeTabContent('Update Family Member')">Update Family Member</div>
        <div class="tab" onclick="changeTabContent('Add Family Member')">Add Family Member</div>
        <div class="tab" onclick="changeTabContent('Delete Relationship')">Delete Relationship</div>
        <div class="tab" onclick="changeTabContent('Add Relationship')">Add Relationship</div>
        <div class="tab" onclick="changeTabContent('Find Path')">Find Path</div>
        <div class="tab" onclick="downloadJSON()">Download Tree as JSON</div>
    </div>
    <div id="function-content">
        <p>Click on a user to update their information.</p>
        <button onclick="submitUpdateUser()">Update Family Member</button>
        <div id="pathResults"></div>
    </div>


<script>

let selectedNodes = [];

let selectedLink = null;

let currTab = 'Update Family Member';

let data = null;

let jsonDataForDownload = {{ tree_data | tojson | safe}};  // Assuming the tree data is passed from the server

// Function to select a link when clicked
function selectLink(event, d) {
    selectedLink = d;
    // Display details about the selected link in some UI element, e.g., a sidebar or modal
    if(currTab === 'Delete Relationship'){
        console.log('Deleting relationship:', d);
        document.getElementById('pathResults').innerHTML = `Selected relationship: <b>${d.type}</b> between <b>${d.source.name}</b> and <b>${d.target.name}</b>`;
        selectedLink = d;
    }
}


        // Function to make API call and display family tree
        async function getFamilyTree() {
            data = null;
            // location.reload();

            try {
                // Make an API call to get the family tree data and wait for it to complete
                const response = await fetch('/generatetree/');
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                data = await response.json();  // Parse JSON data from the response

                console.log(data);  // Now `data` is available and logged correctly
                renderFamilyTree(data);  // Now `data` is passed correctly
                    } 

            catch (error) {
                console.error('Failed to fetch the family tree data:', error);
            }

        }

        // Function to render family tree using D3.js
        function renderFamilyTree(data) {

            const network = document.getElementById('network');
            network.innerHTML = '';  // Clear existing SVG to prevent duplication


            const width = document.getElementById('network').clientWidth;
            const height = document.getElementById('network').clientHeight;
            // const svg = d3.select("#network").append("svg")
            //               .attr("width", width)
            //               .attr("height", height);



            const svg = d3.select("#network").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("background-color", "grey")
    .call(d3.zoom().on("zoom", (event) => {
        svg.attr("transform", event.transform);
    })).append("g");

    
            const nodes = data.nodes;
            const links = data.connections;



            const simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id).distance(200)) // Increased link distance
        .force("charge", d3.forceManyBody().strength(-500)) // Increased repulsive force
        .force("center", d3.forceCenter(width / 2, height / 2))
        .force("collide", d3.forceCollide().radius(100)); // Added collision force to avoid overlap



const link = svg.selectAll(".link")
            .data(links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke", d => {
                if (d.type === 'marriage') {
                    return "red";
                } else if (d.type === 'parent-child') {
                    return "green";
                } else {
                    return "gray";
                }
            })
            .style("stroke-width", 4)
            .on('mouseover', linkMouseover) // Updated to use the function
            .on('mouseout', linkMouseout)
            .on('click', selectLink);



    const linkLabels = svg.selectAll(".link-label")
            .data(links)
            .enter().append("text")
            .attr("class", "link-label")
            .text(d => d.type)
            .on('mouseover', linkMouseover) // Attach the same mouseover event
            .on('mouseout', linkMouseout)
            .on('click', selectLink);  // Add click event handler to labels as well;

    // Function to handle mouseover event on links and labels
    function linkMouseover(event, d) {
        const sourceNode = nodes.find(node => node.id === d.source.id);
        const targetNode = nodes.find(node => node.id === d.target.id);
        let detailsText = '';
        if (d.type === 'marriage') {
            detailsText = `${sourceNode.name} is married to ${targetNode.name}`;
        } else if (d.type === 'parent-child') {
            detailsText = `${sourceNode.name} is the parent of ${targetNode.name}`;
        }
        document.getElementById('details').innerHTML = detailsText;
    }

    function linkMouseout(event, d) {
        document.getElementById('details').innerHTML = 'Hover over a node or relationship to see details here.';
    }

            // Draw circles for the nodes
            const node = svg.selectAll(".node")
                            .data(nodes)
                            .enter().append("circle")
                            .attr("class", "node")
                            .attr("fill", "white")
                            .attr("border", "black")
                            .attr("stroke", "black") // Add a stroke color if needed
                            .attr("r", 35)
                            .on('mouseover', (event, d) => {
                                const details = document.getElementById('details');

                                let detailsHTML = '';

// Check and display the picture if the URL is available
if (d.pictureURL) {
    detailsHTML += `<img src="${d.pictureURL}" style="max-width: 100%; height: auto;"><br>`;
}

// Display the name at the top with a larger font size
detailsHTML += `<div style="font-size: 1.7em; margin-bottom: 0.25em;"><b>${d.name}</b></div>`;

for (const [key, value] of Object.entries(d)) {
    if (!['x', 'y', 'vx', 'vy', 'fx', 'fy', 'name', 'pictureURL', 'index'].includes(key)) {  // Exclude specified keys and the name, as it's already displayed
        detailsHTML += `<b>${key}</b>: ${Array.isArray(value) ? value.join(', ') : value}<br>`;
    }
}
details.innerHTML = detailsHTML;
details.style.cssText = 'font-size: 0.8em; line-height: 2.5;';  // Apply general styling

                                // details.innerHTML = `Name: ${d.name}<br>Date of Birth: ${d.dateOfBirth}<br>Hobbies: ${d.hobbies.join(', ')}`;
                            })
                            .on('mouseout', (event, d) => {
                                const details = document.getElementById('details');
                                details.innerHTML = 'Hover over a node or relationship to see details here.';
                            })
                            .call(drag(simulation));


            node.on('click', (event, d) => {selectNode(d.id);});


            // Add node labels (family member names)
            const nodeLabels = svg.selectAll(".node-label")
                                  .data(nodes)
                                  .enter().append("text")
                                  .attr("class", "node-label")
                                  .attr("dx", "0.25em")
                                  .attr("dy", ".25em")
                                  .text(d => d.name);


            simulation.on("tick", () => {
                link.attr("x1", d => d.source.x)
                    .attr("y1", d => d.source.y)
                    .attr("x2", d => d.target.x)
                    .attr("y2", d => d.target.y);

                node.attr("cx", d => d.x)
                    .attr("cy", d => d.y);


                nodeLabels
                    .attr("x", d => d.x)
                    .attr("y", d => d.y);

                linkLabels
                    .attr("x", d => (d.source.x + d.target.x) / 2)
                    .attr("y", d => (d.source.y + d.target.y) / 2);
            });

            function drag(simulation) {
                function dragstarted(event) {
                    if (!event.active) simulation.alphaTarget(0.3).restart();
                    event.subject.fx = event.subject.x;
                    event.subject.fy = event.subject.y;
                }

                function dragged(event) {
                    event.subject.fx = event.x;
                    event.subject.fy = event.y;
                }

                function dragended(event) {
                    if (!event.active) simulation.alphaTarget(0);
                    event.subject.fx = null;
                    event.subject.fy = null;
                }

                return d3.drag()
                         .on("start", dragstarted)
                         .on("drag", dragged)
                         .on("end", dragended);
            }
        }


        function changeTabContent(tabName) {
            currTab = tabName;

            selectedNodes = [];
            selectedLink = null;
            
            const functionContent = document.getElementById('function-content');
            if (tabName === 'Find Path') {
                functionContent.innerHTML = `
                    <p>Click on two family members to find the path between them.</p>

                    <button onclick="submitPathFind()">Find Path</button>

                    <div id="pathResults"></div>`;
            } 

            else if (tabName === 'Add Relationship') {
                functionContent.innerHTML = `
                    <p>Click on two family members to add a relationship between them.</p>

                    <button onclick="submitMarriageRelationshipToAdd()">Add Marriage Relationship</button>
                    <button onclick="submitParentChildRelationshipToAdd()">Add Parent-Child Relationship</button>

                    <div id="pathResults"></div>`;
            } 

            else if (tabName === 'Delete Relationship'){
                functionContent.innerHTML = `
                    <p>Click on a relationship to delete it.</p>
                    <button onclick="deleteRelationship()">Delete Relationship</button>
                    <div id="pathResults"></div>`;
            }

            else if (tabName === 'Add Family Member'){
    functionContent.innerHTML = `
    <a href="{{'add_family_member'}}" class="button">Go to Add User Form</a>`;
}

            else if (tabName === 'Update Family Member'){
                functionContent.innerHTML = `
                    <p>Click on a family member to update their information.</p>
                    <button onclick="submitUpdateUser()">Update User</button>
                    <div id="pathResults"></div>`;
                }

            
            else if (tabName === 'Delete Family Member'){
                functionContent.innerHTML = `
                    <p>Click on a family member to delete them. To delete a user, they must not be in any relationships.</p>
                    <button onclick="submitDeleteUser()">Delete User</button>
                    <div id="pathResults"></div>`;
                }

            
            else {
                functionContent.textContent = `${tabName} Content`;
            }

            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => {
                if (tab.textContent === tabName) {
                    tab.classList.add('active-tab');
                } else {
                    tab.classList.remove('active-tab');
                }
            });
        }




        function selectNode(nodeId) {
            console.log('Selected node:', nodeId);
            
            if (currTab == 'Add Relationship' || currTab == 'Find Path'){
                // check if the selected nodes are already selected
                // if so, remove the selection
                // if not, add the selection
                // if two nodes are already selected, remove the selection and add the new selection
                // if two nodes are already selected and one of them is the new selection, remove the selection and add the new selection
            
            if (selectedNodes.length == 2){
                selectedNodes = [];
            }

            if (selectedNodes.length < 2 && !selectedNodes.includes(nodeId)) {
                selectedNodes.push(nodeId);
            } 
            
            else if (selectedNodes.length === 2 && selectedNodes.includes(nodeId)){
                selectedNodes = [nodeId];
            }

            // let familyMemberNames = data.nodes.filter(node => selectedNodes.includes(node.id)).map(node => node.name);
            // make sure names are added in proper order
            let familyMemberNames = [];
            for (let i = 0; i < selectedNodes.length; i++){
                let node = data.nodes.find(node => node.id === selectedNodes[i]);
                familyMemberNames.push(node.name);
            }


            document.getElementById('pathResults').innerHTML = `Selected members are ${familyMemberNames.join(' and ')}`;

            console.log('Selected nodes:', selectedNodes);
        }


        else if (currTab == 'Update Family Member' || currTab == 'Delete Family Member'){
            // make an API call to get the user details
            // populate the form with the user details
            // submit the form to update the user details
            // console.log('Updating user:', nodeId);

            selectedNodes = [];

            // add selected node to the array
            selectedNodes.push(nodeId);


            let familyMemberNames = [];
            for (let i = 0; i < selectedNodes.length; i++){
                let node = data.nodes.find(node => node.id === selectedNodes[i]);
                familyMemberNames.push(node.name);
            }

            document.getElementById('pathResults').innerHTML = `Selected member is ${familyMemberNames.join(' and ')}`;

            console.log('Selected nodes:', selectedNodes);
        }

        }

        //////////////// Method to interact with server API ////////////////

        function deleteRelationship() {
    if (!selectedLink) {
        document.getElementById('pathResults').innerHTML = 'No relationship selected.';
        return;
    }

    console.log('Deleting relationship:', selectedLink);

    fetch('/deleterelationship', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({rel_id: selectedLink.rel_id})
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('pathResults').innerHTML = data.message;
        if (response.ok) {
            console.log('Relationship deleted successfully');
            // window.location.href = '/tree';
            // window.location.assign('/tree');
            window.location.replace('/tree');


        } else {
            console.error('Error:', data.message);
        }
        // data = null;
        getFamilyTree();
    })
    .catch((error) => {
        console.error('Error:', error);
        document.getElementById('pathResults').innerHTML = 'Error deleting relationship.';
    });

    selectedLink = null; // Reset selected link after deletion
    // getFamilyTree();
    location.reload(true);
    // reloadFamilyTree();
}



    function submitPathFind() {
    if (selectedNodes.length === 2) {
        // Define the API URL
        const apiUrl = '/find_path';

        // Create the request body
        const requestBody = {
            source: selectedNodes[0],
            target: selectedNodes[1]
        };

        console.log('Finding path between:', selectedNodes[0], selectedNodes[1]);
        // fidn name of the selected nodes
        let familyMemberNames = [];
        for (let i = 0; i < selectedNodes.length; i++){
            let node = data.nodes.find(node => node.id === selectedNodes[i]);
            familyMemberNames.push(node.name);
        }

        console.log('Finding path between:', familyMemberNames[0], familyMemberNames[1]);

        // Fetch API to find path between the two selected nodes
        fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Assuming the server returns the path or a relevant message in the response

            // server returns  a list of nodes in the path
            // print each node on a new line
            // Print each node in the path on a new line in the 'pathResults' element
            let pathText = 'Path found between members:<br>';
            data.path.forEach(node => {
                pathText += `${node}<br>`; // Add each node on a new line
            });
            document.getElementById('pathResults').innerHTML = pathText;


            // const pathText = `Path found between members: ${data.path}`;
            // document.getElementById('pathResults').innerHTML = pathText;
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            document.getElementById('pathResults').innerHTML = 'Failed to find path.';
        });

        selectedNodes = []; // Reset for next search
    } else {
        document.getElementById('pathResults').innerHTML = 'Please select two nodes.';
    }
}


    function submitMarriageRelationshipToAdd() {
        if (selectedNodes.length !== 2) {
            document.getElementById('pathResults').innerHTML = 'Please select two nodes.';
            return;
        }

        let node1 = selectedNodes[0];
        let node2 = selectedNodes[1];

        console.log('Adding marriage relationship between:', node1, node2);

        fetch('/createmarriage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({spouse1_id: node1, spouse2_id: node2})
        })
        .then(response => response.json().then(data => ({ ok: response.ok, data: data })))
    .then(result => {
        document.getElementById('pathResults').innerHTML = result.data.message;
        if (result.ok) {
            console.log('marriage-Child Creation successful');
            window.location.replace('/tree');
        } else {
            console.error('Error:', result.data.message);
        }

        getFamilyTree(); // Ensure this function is defined and handles post-action updates correctly
    })
        .catch((error) => {
            console.error('Error:', error);
        });

        selectedNodes = []; // Reset the selected nodes

    }


    function submitParentChildRelationshipToAdd() {
    if (selectedNodes.length !== 2) {
        document.getElementById('pathResults').innerHTML = 'Please select two nodes.';
        return;
    }

    let node1 = selectedNodes[0];
    let node2 = selectedNodes[1];

    console.log('Adding parent-child relationship between:', node1, node2);

    fetch('/createparentchild', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({parent_id: node1, child_id: node2})
    })
    .then(response => response.json().then(data => ({ ok: response.ok, data: data })))
    .then(result => {
        document.getElementById('pathResults').innerHTML = result.data.message;
        if (result.ok) {
            console.log('Parent-Child Creation successful');
            window.location.replace('/tree');
        } else {
            console.error('Error:', result.data.message);
        }

        getFamilyTree(); // Ensure this function is defined and handles post-action updates correctly
    })
    .catch((error) => {
        console.error('Error:', error);
    });

    selectedNodes = []; // Reset the selected nodes

    // It seems you have multiple reload commands which are redundant and might cause unwanted behavior.
    // Commented one out for you:
    // location.reload(true); // Reload the page to update the visualization
}


    function submitUpdateUser(){
        // redirect to form with user queries
        if(selectedNodes.length === 1){
            console.log('Updating user:', selectedNodes[0]);
            // Redirect to the API route with the selected node as a query parameter
            window.location.href = `/update_family_member/${encodeURIComponent(selectedNodes[0])}`;
            selectedNodes = [];
        }
    }



    function submitDeleteUser(){
        // redirect to form with user queries
        if(selectedNodes.length === 1){
            console.log('Deleting user:', selectedNodes[0]);

        // console.log('Adding marriage relationship between:', node1, node2);

        fetch(`/delete_member`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id_to_delete: selectedNodes[0]})
        })
        .then(response => response.json().then(data => ({ ok: response.ok, data: data })))
    .then(result => {
        document.getElementById('pathResults').innerHTML = result.data.message;
        if (result.ok) {
            console.log('marriage-Child Creation successful');
            window.location.replace('/tree');
        } else {
            pathResults.innerHTML = 'Error:', result.data.message;
            console.error('Error:', result.data.message);
        }

        getFamilyTree(); // Ensure this function is defined and handles post-action updates correctly
    })
        .catch((error) => {
            console.error('Error:', error);
        });

        selectedNodes = []; // Reset the selected nodes


        }
    }

    
    function downloadJSON() {

        console.log(jsonDataForDownload);
        const blob = new Blob([JSON.stringify(jsonDataForDownload)], { type: 'application/json' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'data.json';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);

    }

    getFamilyTree();  // Call the function to get and render the family tree


</script>
</body>
</html>


{% endblock %}
